doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title= pageTitle

        link(href="css/styles.css" rel="stylesheet")

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    body
        h1 Hello, world!

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        script(src="js/bootstrap.min.js")